
html{
    height: 100%;
}

body{
    background-image: linear-gradient(to bottom, rgb(27, 138, 212), rgb(87, 223, 110));

}

.destaque{
    background-color: yellow;


}

.sublinhado{
    font-weight: bold;
    font-size: 2em;


}